.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.navigationHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}
nav {
  display: flex;
  width: 100%;
}
.linkContainer {
  outline: 1px solid rgb(0, 0, 0);
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;

  width: 100px;
  margin-right: 1px;
}
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  height: 50px;
}

.userMenuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 250px;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 460px) {
  .navigationHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 140px;
  }

  .userMenuContainer {
    width: 100%;
  }
}
