.container {
  outline: 1px solid #000;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  top: 1px;
}

.title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 56px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;

  border: 2px solid #000;
}

.decor {
  position: absolute;
  top: -1px;
  left: 202px;
  height: 10px;
  width: 100px;
  background-color: var(--folder);
}

.coment {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.comentText {
  width: 200px;

  text-align: center;
  font-size: 24px;
  color: rgb(17, 17, 112);
  font-family: var(--writtenFontFamily);

  transform: rotate(-30deg) translate(-30%, -30%);
}
.palyanica {
  /* color: red; */
  text-decoration: line-through var(--red);
}
.nowLogin {
  font-size: 16px;
  color: var(--red);
}
