.refContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 100%;
}
.loadContainerText {
  font-size: 56px;
  font-weight: bold;
  font-family: var(--writtenFontFamily);
  color: var(--writtenColor);
}

.list {
  padding: 0;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 20px;
}

.listItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  border-bottom: 2px solid var(--printedColor);

  padding: 5px 5px 0px 5px;
  margin-bottom: 21px;
}

.listItem__infoBlock {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
}
.listItem__buttonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;

  font-size: 28px;
  font-weight: 100;

  font-family: var(--writtenFontFamily);
  color: var(--writtenColor);
}
.contact:nth-child(1) {
  font-weight: 600;
}
.btn {
  flex-grow: 1;
}
.btn:hover {
  transform: scale(1.1);
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;

  height: 300px;
  font-family: var(--writtenFontFamily);
  color: var(--writtenColor);
}
.notFound > p {
  margin-bottom: 25px;
}
.p1 {
  font-size: 36px;
  transform: rotate(-2deg);
}
.p2 {
  font-size: 22px;
  transform: rotate(3deg);
}
.p3 {
  font-size: 28px;
  transform: rotate(-3deg);
  max-width: 575px;
}
.p3 > span {
  font-size: 36px;
  font-weight: 500;
  color: rgb(43, 177, 10);
}

@media screen and (max-width: 550px) {
  .listItem {
    flex-direction: column;
  }

  .listItem__infoBlock {
    margin-bottom: 10px;
  }

  .contact {
    justify-content: center;
  }

  .p1 {
    font-size: 26px;
    transform: rotate(-2deg);
  }
  .p2 {
    font-size: 12px;
    transform: rotate(3deg);
  }
  .p3 {
    font-size: 18px;
    transform: rotate(-3deg);
    max-width: 575px;
  }
  .p3 > span {
    font-size: 26px;
    font-weight: 500;
    color: rgb(43, 177, 10);
  }
}
@media screen and (max-width: 300px) {
  .p1 {
    font-size: 20px;
    transform: rotate(-2deg);
  }
  .p2 {
    font-size: 10px;
    transform: rotate(3deg);
  }
  .p3 {
    font-size: 12px;
    transform: rotate(-3deg);
    max-width: 575px;
  }
  .p3 > span {
    font-size: 20px;
    font-weight: 500;
    color: rgb(43, 177, 10);
  }
}
