.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 70px;
}

.email {
  color: rgb(77, 56, 3);
  font-weight: 500;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* padding: 10px; */

  color: rgb(0, 0, 0);

  width: 70px;
  /* height: 70px; */
}

@media screen and (max-width: 490px) {
  .container {
    flex-direction: column;
    width: 100px;
  }
  .email {
    font-size: 14px;
  }
  .logoutBtn {
    width: 60px;
    height: 60px;
  }
}
